numpy
transformers
accelerate
peft
flash-attn
sentencepiece
gradio
fastapi
uvicorn
wandb
markdown2[all]
requests
prompt_toolkit
rich
chardet
auto_gptq
charset_normalizer

--extra-index-url https://download.pytorch.org/whl/cu118
torch